@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;400;600&display=swap');

:root {
  font-size: 62.5%;
}

html {
  background: url('../images/bg-desktop.svg') center center no-repeat;
  background-color: hsl(257, 40%, 49%);
  height: 100vh;
  background-size: cover;
}

/* LOGO */

.logo {
  width: 50%;
  margin-top: 5rem;
  margin-left:16rem;
}

/* CONTAINER */

.container {
  display: flex;
  gap: 6rem;
  justify-content: center;
  margin: 5rem;
}

/* MOCKUP */

.mockup {
  margin: 5rem;
}

/* CONTENT */

.content {
  color: white;
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .titulo {
  max-width: 600px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: max(3rem , 2.8vw);
  margin-bottom: 2rem;
  margin-top: 0rem;
}

.content .subtitulo {
  max-width: 750px;
  font-family: 'Open Sans', sans-serif;
  font-size: max(1.6rem, 1.3vw);
}

/* BOTÃO REGISTER */

.registrar {
  width: 25%;
  padding: 1.5rem 2.5rem;
  background-color: white;
  border-radius: 5rem;
  text-decoration: none;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: max(1.6rem, 1vw);
  text-align: center;
  box-shadow: 2px 2px 2px black;
  color: hsl(257, 40%, 49%);
}

.registrar:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
}

/* SOCIAL */

.social {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 10rem;
}

.social i {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 2rem;
  color: white;
}

.social .fa-facebook-f {
  padding: 1rem 1.3rem;
}

.social i:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}
